<!-- Страницата работи с модел от тип 'IEnumerable<MvcTransplantation_kidney.Models.MedicalRecord>', който представлява колекция от обекти от клас 'MedicalRecord'.-->
@model MvcTransplantation_kidney.Models.MedicalRecord

<!--Задава заглавието на страницата като "Детайли", използвайки 'ViewData' за предаване на данни от контролера към изгледа.-->
@{
    ViewData["Title"] = "Детайли";
}

<!--Заглавие на страницата (Heading 1) с текст "Детайли" и го центрира с клас 'text-center'.-->
<h1 class="text-center">Детайли</h1>

<!--Този код генерира HTML, който показва наименованията на полетата PatientId, DoctorId, RecordDate, Description и техните стойности в рамките на Bootstrap структура, разделена на осем колони (по 2 колони за етикетите и по 10 за стойностите).-->
<div>
    <h4>Медицински запис</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<!--Този код създава центрирани хипервръзки за редактиране на медицински запис на базата на нейния `RecordId` и за връщане към списъка със записи в ASP.NET MVC.-->
<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model?.RecordId">Редактирай</a> |
    <a asp-action="Index">Обратно към списъка</a>
</div>
