<!-- Страницата работи с модел от тип 'IEnumerable<MvcTransplantation_kidney.Models.Patient>', който представлява колекция от обекти от клас 'Patient'.-->
@model IEnumerable<MvcTransplantation_kidney.Models.Patient>

<!--Задава заглавието на страницата като "Начало", използвайки 'ViewData' за предаване на данни от контролера към изгледа.-->
@{
    ViewData["Title"] = "Начало";
}

<!--Заглавие на страницата (Heading 1) с текст "Начало" и го центрира с клас 'text-center'.-->
<h1 class="text-center">Начало</h1>

<!--Създава параграф, центриран на страницата, който съдържа връзка с действие 'Create'.-->
<p class="text-center">
    <a asp-action="Create">Създай нов</a>
</p>

<!--Започва HTML таблица с клас 'table'. 'thead' секцията съдържа заглавията на колоните.-->
<!--@Html.DisplayNameFor(model => model.FirstName) динамично извежда името на свойството 'FirstName' като заглавие на колоната.-->
<!--@Html.DisplayNameFor(model => model.LastName) динамично извежда името на свойството 'LastName' като заглавие на колоната.-->
<!--@Html.DisplayNameFor(model => model.DateOfBirth) динамично извежда името на свойството 'DateOfBirth' като заглавие на колоната.-->
<!--@Html.DisplayNameFor(model => model.TransplantDate) динамично извежда името на свойството 'TransplantDate' като заглавие на колоната.-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransplantDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--Започва цикъл 'foreach', който преминава през всеки обект в модела.-->
@foreach (var item in Model) {
            <!--За всеки пациент (представен като 'item'), кодът създава нов ред (<tr>). В първата клетка (<td>) се показва първото име, във втората - фамилията, в третата - рожденната дата, четвъртата - датата на трансплантацията.-->
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransplantDate)
            </td>
            <td>
                    <!--Във петата клетка има три връзки: за редакция, детайли и изтриване на съответния пациент.-->
                <a asp-action="Edit" asp-route-id="@item.PatientId">Редактирай</a>
                <a asp-action="Details" asp-route-id="@item.PatientId">Детайли</a>
                <a asp-action="Delete" asp-route-id="@item.PatientId">Изтрий</a>
            </td>
        </tr>
}
        <!--Цикълът 'foreach' завършва, и таблицата се затваря с </tbody> и </table>. Всички пациенти ще бъдат показани в редове на тази таблица-->
    </tbody>
</table>
